form {
    font-size: 1.5em;
    margin-bottom: 70px;
}

form button[type="submit"] {
    margin: 0 auto;
    display: block;
}

form label {
    width: 150px;
    display: inline-block;
    text-transform: capitalize;
}

.form-input, .form-radio {
    margin: 15px;
}

.form-radio label {
    width: initial;
}

.form-radio input {
    margin-right: 20px;
}

.form-input input, .form-input textarea {
    transition: border-color 0.5s;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 0.9em;
    padding: 10px;
}

.form-input input:focus, .form-input textarea:focus, .form-input input:invalid:focus, .form-input textarea:invalid:focus {
    outline: none;
    border-color: #999;
}

.form-input input:invalid, .form-input textarea:invalid {
    border-color: red;
}

.form-input input:valid, .form-input textarea:valid {
    border-color: green;
}

.button {
    transition: transform 0.3s, border-color 0.3s;
    will-change: transform, border-color;
    cursor: pointer;
    background-color: white;
    border: 2px solid #ddd;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
}

form #contact-cuestion select {
    height: 80px;
    width: 300px;
    font-size: 1.08em;
}

form #contact-cuestion select option {
    font-size: 1.08em;
}

form #contact-div {
    margin-top: 20px;
    margin-bottom: 20px;
}

form #contact-cuestion i, form .flex-col i {
    font-size: 48px;
    color: #ea7527;
}

form .img-size {
    width: 150px;
    height: 150px;
}

form .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover {
    transform: scale(1.2);
}

.button:hover, .button:focus {
    border-color: #ccc;
    outline: none;
}

.button:active {
    transform: scale(0.9);
    color: white;
    background-color: #999;
}

.button:disabled {
    color: #ddd;
    cursor: default;
}

.button:hover:disabled {
    border-color: #ddd;
}

form .img-javi {
    padding: 3px;
    will-change: box-shadow, transform;
}

form .img-javi-hover {
    animation: showBorder 6s forwards;
}

@keyframes showBorder {
    12% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.02);
    }
    24% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-right-style: dashed;
        border-right-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.05);
    }
    36% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-right-style: dashed;
        border-right-width: 5px;
        border-bottom-style: dashed;
        border-bottom-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.02);
    }
    48% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-right-style: dashed;
        border-right-width: 5px;
        border-bottom-style: dashed;
        border-bottom-width: 5px;
        border-left-style: dashed;
        border-left-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.0);
    }
    60% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.02);
    }
    72% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-right-style: dashed;
        border-right-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.05);
    }
    84% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-right-style: dashed;
        border-right-width: 5px;
        border-bottom-style: dashed;
        border-bottom-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.02);
    }
    100% {
        border-top-style: dashed;
        border-top-width: 5px;
        border-right-style: dashed;
        border-right-width: 5px;
        border-bottom-style: dashed;
        border-bottom-width: 5px;
        border-left-style: dashed;
        border-left-width: 5px;
        border-radius: 20px;
        border-color: #ea7527;
        transform: scale(1.0);
    }
}
