    #interests div {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-around;
        width: 100%;
    }
    
    #interests article {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #interests .article-none {
        filter: blur(2px);
    }
    
    #interests article img {
        width: 90%;
        height: 250px;
        object-fit: cover;
        /*transition: box-shadow 0.3s, transform 0.3s;*/
    }
    /*.im.hover {
    box-shadow: 10px 10px 40px #444;
    transform: scale(1.05);
}

*/
    
    #interests #top-left img:hover {
        animation: top-left 0.7s forwards;
    }
    
    #interests #top-right img:hover {
        animation: top-right 0.7s forwards;
    }
    
    #interests #bottom-left img:hover {
        animation: bottom-left 0.7s forwards;
    }
    
    #interests #bottom-right img:hover {
        animation: bottom-right 0.7s forwards;
    }
    
    #interests p {
        width: 85%;
    }
    
    @keyframes top-left {
        100% {
            margin-top: 170px;
            margin-left: 400px;
            transform: scale(1.5);
            box-shadow: 10px 10px 40px #444;
            z-index: 1;
        }
    }
    
    @keyframes top-right {
        100% {
            margin-top: 170px;
            margin-right: 400px;
            transform: scale(1.5);
            box-shadow: 10px 10px 40px #444;
            z-index: 1;
        }
    }
    
    @keyframes bottom-left {
        100% {
            margin-bottom: 170px;
            margin-left: 400px;
            transform: scale(1.5);
            box-shadow: 10px 10px 40px #444;
            z-index: 1;
        }
    }
    
    @keyframes bottom-right {
        100% {
            margin-bottom: 170px;
            margin-right: 400px;
            transform: scale(1.5);
            box-shadow: 10px 10px 40px #444;
            z-index: 1;
        }
    }
