#personal-details > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

#personal-details div .icon-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

#personal-details .icon-info p {
    font-size: 1.2em;
}

#personal-details .icon-info i {
    font-size: 36px;
}

#personal-details .icon-info img {
    width: 36px;
}
