    #tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        width: 70%;
        margin: auto;
        align-items: baseline;
    }
    
    .tag {
        width: 30%;
        background: #ea7527;
        color: #FFF;
        padding: 5px 10px;
        margin: 2px 2px 2px 20px;
        position: relative;
        cursor: default;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s, transform 0.3s;
        will-change: box-shadow, transform;
    }
    
    .tag:hover {
        box-shadow: 10px 10px 40px #444;
        transform: scale(1.02);
    }
    
    .tag:before {
        content: "";
        position: absolute;
        width: 0;
        background: inherit;
        height: 13.5px;
        /*Cambiar aquí*/
        border: 10px solid #000;
        border-right-color: transparent;
        left: -18px;
        top: 0;
    }
    
    .tag:after {
        content: "";
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background: #000;
        position: absolute;
        left: -3px;
        top: 12px;
        box-shadow: inset 1px 1px 0 #CCC;
    }
    
    #skills .flexbox-col {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 33%;
        align-items: center;
        background-color: #000;
        border-radius: 50px 50px 50px 50px;
    }
